<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJs MVC</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <h2>Este é um exemplo de aplicação usando o padrão MVC com NestJs e EJS.</h2>
</body>
</html>