<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="https://focus-bootstrap.vercel.app/table-bootstrap-basic.html" target="_blank">Quixkit</a> 2019</p>
    </div>
</div>