
<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> NestJs MVC </title>
        <link rel="stylesheet" href="/estilos.css">
    </head>
    <body>
        <h1><%= titulo %></h1>
    </body>
</html>